body{
font-family: Arial;
background:#0f172a;
color:white;
padding:20px;
}

h1{
text-align:center;
}

.card{
background:#1e293b;
padding:20px;
border-radius:16px;
margin-bottom:15px;
box-shadow:0 4px 10px rgba(0,0,0,0.3);
}

.activo{
color:#4ade80;
font-weight:bold;
}

.inactivo{
color:#f87171;
font-weight:bold;
}
